<ul id="messages"></ul>
<form id="myform" action="">
    <input id="m" autocomplete="off" />
    <button>Send</button>
</form>
<script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    $('#myform').submit(function(e) {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        e.preventDefault();
        return false;
    });
    socket.on('chat message', function(msg) {
        $('#messages').append($('<li>').text(msg));
    });
</script>